/* Nav links */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: var(--text);
  padding: 6px 12px;
  border-radius: 10px;
  transition: all 0.3s;
  gap: 2rem;
}

nav a:hover {
  background-color: var(--button-bg);
  color: var(--text);
}

nav a.active {
  background-color: var(--button-bg);
  color: var(--text);
}

nav button {
  padding: 6px 12px;
  color: var(--text);
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

nav button:hover {
  background-color: var(--button-bg);
}

/* Mobile-friendly: stack items */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Container */
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: transparent;
  color: var(--text);
  position: relative;
  overflow: hidden;
}

footer {
  text-align: center;
  color: var(--text);
  position: relative;
  z-index: 1;
}

body, html, #root {
  height: 100%;
  margin: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}